{% assign article_image = article.image.src | img_url %}

<div class="card bg-white text-left">

  {% unless article_image contains 'no-image' %}
    <a href="{{ article.url }}" class="card-img d-block">
      <img srcset="{{ article.image.src | img_url: '578x', crop: 'center', format: 'pjpg' }}"
          sizes="auto" loading="lazy" class="lazyload"
          src="{{ article.image.src | img_url: 'pico' }}"
          alt="{{ article.image.alt | escape }}"
          width="{{ article.image.width }}"
          height="{{ article.image.width | divided_by: article.image.aspect_ratio }}" >
    </a>
  {% else %}
    {% if settings.no_image_replacement != blank %}
      <a href="{{ article.url }}" class="card-img d-block">
          <img srcset="{{ settings.no_image_replacement | img_url: '578x', crop: 'center', format: 'pjpg' }}"
              sizes="auto" loading="lazy" class="lazyload"
              src="{{ settings.no_image_replacement | img_url: 'pico' }}"
              alt="{{ settings.no_image_replacement.alt | escape }}"
              width="{{ settings.no_image_replacement.width }}"
              height="{{ settings.no_image_replacement.width | divided_by: settings.no_image_replacement.aspect_ratio }}" >
      </a>
    {% endif %}
  {% endunless %}

  <div class="card-body">
    <div class="text-uppercase small text-muted">{{ blog.title }}</div>
    <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
    <div class="small text-muted">
      <time datetime="{{ article.published_at | date: "%a, %b %d, %Y" }}"> {{ article.published_at | date: "%a, %b %d, %Y" }}</time>
    </div>
  </div>
  {% if article.author %}
    <div class="card-footer bg-transparent">
      <span class="font-italic font-secondary font-size-md">by</span> <span>{{ article.author }}</span>
    </div>
  {% endif %}
</div>
