<link rel="stylesheet" href="{{ 'global-testimonial.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'global-testimonial.css' | asset_url | stylesheet_tag }}</noscript>
 
{% assign blocks_size = section.blocks | size %}
<section class="section-content position-relative" data-section-id="{{ section.id }}" style="background: {{ section.settings.section_bg_color }}; color:{{ section.settings.section_text_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row mb-3">
            <div class="col-12 text-center">
                {% if section.settings.heading_txt != blank %}
                  <h2 class="section-title text-capitalize">{{ section.settings.heading_txt }}</h2>
                {% endif %}
 
                {% if section.settings.lead_txt != blank %}
                  <p class="mb-0">
                      {{ section.settings.lead_txt }}
                  </p>
                {% endif %}
            </div>
        </div>
        {% if section.blocks.size > 0 %}
        <div class="row">
            <custom-tabs class="d-block">
                <div class="container">
                   <div id="productTabs" data-product-tabs="">
                      <div class="col-xl-8 col-lg-9 col-md-10 px-0 mx-auto mb-md-5 mb-4 mt-4">
                        <ul class="d-flex list-unstyled flex-wrap text-capitalize justify-content-center fw-medium" role="tablist">
                            <li class="tablink open" role="tab">
                               <a class="nav-link border border-primary rounded-pill text-primary px-3 py-1 m-1 d-flex" data-toggle="tab" href="#tab01" data-tabcontent="#tab01"
                                  aria-expanded="true">All Reviews (4)</a>
                            </li> 
                            <li class="tablink" role="tab">
                               <a class="nav-link border border-primary rounded-pill text-primary px-3 py-1 m-1 d-flex" data-toggle="tab" href="#tab02" data-tabcontent="#tab02"
                                  aria-expanded="false">Product (2)</a>
                            </li>
                         </ul>
                      </div>
                      <div class="tab-content text-left" id="productTabsContent">
                         <div class="tab-pane tabcontent open" id="tab01" role="tabpanel">
                            {% for block in section.blocks %}
                                <div class="{{ block.settings.alignment }} swiper-slide" data-block-id="{{ block.id }}"> 
                                    {% if block.settings.title != blank %}
                                        <div class="col-xl-8 col-lg-9 col-md-10 px-0 mx-auto mb-md-5 mb-4">
                                            <div style="box-shadow: 0 2px 2px rgba(0,0,0,0.25);">
                                                <div class="align-items-center justify-content-md-between row no-gutter p-3" style="background-color:#f6f6f6;">
                                                    {% if block.settings.author_name != blank %}
                                                        <div class="mb-n3 pe-3 col-md-8">{{ block.settings.author_name }}</div>
                                                        <div class="d-flex mt-md-n1 col-md-4 mt-2 star-icons justify-content-md-end">
                                                            <span class="d-none">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star" viewBox="0 0 16 16">
                                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            
                                                        </div>
                                                    {% endif %}
                                                </div>    
                                                <div class="mb-0 fw-normal lh-base bg-white p-3 pb-0" style="padding-bottom: 1px !important;">{{ block.settings.title }}</div> 
                                                
                                            </div>
                                        </div>     
                                    {% endif %}
                                </div>
                            {% endfor %}
                         </div>
                         <div class="tab-pane tabcontent" id="tab02" role="tabpanel">
                            <div class="rte pt-5 px-lg-6">
                                {% for block in section.blocks limit: 2%}
                                <div class="{{ block.settings.alignment }} swiper-slide" data-block-id="{{ block.id }}"> 
                                    {% if block.settings.title != blank %}
                                        <div class="col-xl-8 col-lg-9 col-md-10 px-0 mx-auto mb-md-5 mb-4">
                                            <div style="box-shadow: 0 2px 2px rgba(0,0,0,0.25);">
                                                <div class="align-items-center justify-content-md-between row no-gutter p-3" style="background-color:#f6f6f6;">
                                                    {% if block.settings.author_name != blank %}
                                                        <div class="mb-n3 pe-3 col-md-8">{{ block.settings.author_name }}</div>
                                                        <div class="d-flex mt-md-n1 col-md-4 mt-2 star-icons justify-content-md-end">
                                                            <span class="d-none">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star" viewBox="0 0 16 16">
                                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            <span class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd000" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </span>
                                                            
                                                        </div>
                                                    {% endif %}
                                                </div>    
                                                <div class="mb-0 fw-normal lh-base bg-white p-3 pb-0" style="padding-bottom: 1px !important;">{{ block.settings.title }}</div> 
                                                
                                            </div>
                                        </div>     
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </custom-tabs>
        </div>
        {% endif %} 
    </div>
</section>



{% schema %}
    {
        "name": "Global Testimonial",
        "class": "global-testimonial-text",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "fluid_layout",
                "label": "Full Width Layout?",
                "default": false
            },
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "text",
                "id": "heading_txt",
                "label": "Heading Text"
            },
            {
                "type": "richtext",
                "id": "lead_txt",
                "label": "Lead Text"
            },
            {
                "type": "header",
                "content": "Styling"
            },
            {
                "type": "color",
                "id": "section_bg_color",
                "label": "Background Color",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "id": "section_text_color",
                "label": "Text Color",
                "default": "#000000"
            },
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background Image"
            },
            {
                "type": "checkbox",
                "id": "enable",
                "label": "Enable Overlay?",
                "default": false
            },
            {
                "type": "color",
                "id": "overlay_color",
                "label": "Overlay Color",
                "default": "#000"
            },
            {
                "type":"range",
                "id":"opacity",
                "min":0,
                "max":1,
                "step":0.1,
                "label":"Opacity",
                "default":0.5
            },
            {
                "type": "header",
                "content": "Carousel Option"
            },
            {
                "type": "checkbox", 
                "id": "nav_arrows",
                "label": "Arrows Navigation",
                "default": true 
            },
            {
                "type": "checkbox",
                "id": "nav_dots",
                "label": "Dots Navigation",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "logowidthtext",
                "name": "Logo Widthtext Block",
                "settings": [
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "text",
                        "id": "quote_logo",
                        "label": "Logo SVG Image?"
                    },
                    {
                        "type": "richtext",
                        "id": "title",
                        "label": "Description",
                        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo.</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "author_name",
                        "label": "Name or Info"
                    },
                    {
                        "type": "header",
                        "content": "Styling"
                    },
                    {
                        "type": "select",
                        "id": "alignment",
                        "label": "Alignment",
                        "options": [
                            {
                                "value": "text-center",
                                "label": "Center"
                            },
                            {
                                "value": "text-left",
                                "label": "Left"
                            },
                            {
                                "value": "text-right",
                                "label": "Right"
                            }
                        ],
                        "default": "text-left"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Global Testimonial",
                "category": "Content"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
    
{% endstylesheet %}

{% javascript %}
{% endjavascript %}