{{ 'global-header-slider.css' | asset_url | stylesheet_tag }}

{% if section.settings.enabled %}
<section data-section-id="{{ section.id }}" data-type="slider" class="header-slider bg-gray-100 {% if section.settings.is_hidden_on_mobile %}d-none d-sm-block{% endif %}">
  {% comment %}Carousel for larger screens {% endcomment %}
    <slider-element class="d-block" role="tree">
        <div class="swiper swiper-slider header-slider-desktop {{ section.settings.height }}" data-slider='{
            "observer": true,
            "observeParents": true,
            "loop": false,
            "grabCursor": true,
            "navigation": {
                "nextEl": ".hero-button-next",
                "prevEl": ".hero-button-prev"
            },
            "pagination": {
                "el": ".swiper-pagination"
            }
          }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks limit: section.blocks.limit %}
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {% if block.type == 'image' %}

                        {% assign largerDesktopImage =  block.settings.image %}
                        {%- if block.settings.image_large_desktop != blank -%}
                            {% assign largerDesktopImage =  block.settings.image_large_desktop %}
                        {%- endif -%}
                        {% assign mobileImage = block.settings.image %}
                        {%- if block.settings.image_mobile != blank -%}
                            {% assign mobileImage =  block.settings.image_mobile %}
                        {%- endif -%}

                        <div class="swiper-slide d-flex align-items-center slide-{{ block.id }}"
                            role="treeitem" {{ block.shopify_attributes }}
                            data-block-id="{{ block.id }}"
                            data-slide-type="image">

                            {% if block.type == 'image' %}
                                {%- if block.settings.image != blank -%}
                                    <img srcset="
                                        {{ mobileImage | img_url: '471x600', crop: 'center', format: 'pjpg' }} 370w,
                                        {{ mobileImage | img_url: '578x700', crop: 'center', format: 'pjpg' }} 480w,
                                        {{ mobileImage | img_url: '890x', crop: 'center', format: 'pjpg' }} 768w,
                                        {{ block.settings.image | img_url: '1024x', crop: 'center', format: 'pjpg' }} 991w,
                                        {{ block.settings.image | img_url: '1440x', crop: 'center', format: 'pjpg' }} 1200w,
                                        {{ block.settings.image | img_url: '2000x', crop: 'center', format: 'pjpg' }} 1920w,
                                        {{ largerDesktopImage | img_url: '3800x', crop: 'center', format: 'pjpg' }} 2560w,
                                        {{ largerDesktopImage | img_url: '5000x', crop: 'center', format: 'pjpg' }} 3800w"
                                        data-src="{{ block.settings.image | img_url: 'pico' }}" class="lazyload"
                                        sizes="auto" loading="lazy"
                                        alt="{{ block.settings.image.alt | escape }}"
                                        width="{{ block.settings.image.width }}"
                                        height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                                    >
                                {%- else -%}
                                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                {%- endif -%}
                            {% endif %}
                            {% if block.settings.heading != blank or block.settings.caption != blank %}
                                <div class="slider-content w-100">
                                    <div class="container {{block.settings.alignment}}">
                                        <div class="row {{block.settings.caption_alignment}}">
                                            <div class="col-xl-5 col-lg-6 col-md-7 col-12">
                                                <h2 class="h1 px-4 px-md-0 heading_txt mb-3" style="color: {{block.settings.heading_txt_color}};">{{ block.settings.heading | escape }}</h2>
                                                <p class="px-4 px-md-0 caption_txt fw-light mb-4" style="color: {{ block.settings.caption_txt_color }};">{{ block.settings.caption | escape }}</p>
                                                {% if block.settings.btn_txt != blank %}
                                                <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mt-3">{{ block.settings.btn_txt }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if block.settings.enable_overlay %}
                                <div class="overlay" style="background-color: {{ block.settings.overlay_bg_color }}!important; opacity: {{block.settings.overlay_opacity}}!important;"></div>
                            {% endif %}
                        </div>
                    {% elsif block.type == 'multi-image' %}
                        <div class="swiper-slide d-flex align-items-center slide-{{ block.id }}" role="treeitem" {{ block.shopify_attributes }} data-block-id="{{ block.id }}"  data-slide-type="multi-image">
                            <div class="w-100 h-100">
                                <div class="row h-100">
                                    <div class="col-12 col-md-6 d-flex position-relative">
                                        <div class="banner-img w-100">
                                            {%- if block.settings.image != blank -%}
                                                <img srcset="{{ block.settings.image | img_url: '480x', crop: 'center', format: 'pjpg' }} 360w,
                                                    {{ block.settings.image | img_url: '768x', crop: 'center', format: 'pjpg' }} 535w,
                                                    {{ block.settings.image | img_url: '991x', crop: 'center', format: 'pjpg' }} 720w"
                                                    src="{{ block.settings.image | img_url: 'pico' }}"
                                                    sizes="auto" class="lazyload"
                                                    alt="{{ block.settings.image.alt | default: block.settings.heading_txt | escape }}"
                                                    width="{{ block.settings.image.width }}"
                                                    height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                                                    loading="lazy" >
                                            {%- else -%}
                                                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            {%- endif -%}
                                            
                                            {% if block.settings.enable_overlay %}
                                                <div class="overlay" style="background-color: {{ block.settings.overlay_bg_color }}!important; opacity: {{block.settings.overlay_opacity}}!important;"></div>
                                            {% endif %}
                                        </div>
                                        {% if block.settings.heading != blank or block.settings.caption != blank %}
                                            <div class="slider-content position-absolute d-flex align-items-center justify-content-center h-100 w-100">
                                                <div class="container {{block.settings.alignment}}">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-md-8 col-12 mx-auto">
                                                            <h2 class="display-3 px-4 px-md-0 heading_txt" style="color: {{block.settings.heading_txt_color}};">{{ block.settings.heading | escape }}</h2>
                                                            <p class="px-4 px-md-0 caption_txt" style="color: {{ block.settings.caption_txt_color }};">{{ block.settings.caption | escape }}</p>
                                                            {% if block.settings.btn_txt != blank %}
                                                            <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mt-3">{{ block.settings.btn_txt }}</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 d-flex position-relative">
                                        <div class="banner-img w-100">
                                            {%- if block.settings.right_image != blank -%}
                                                <img srcset="{{ block.settings.right_image | img_url: '480x', crop: 'center', format: 'pjpg' }} 360w,
                                                    {{ block.settings.right_image | img_url: '768x', crop: 'center', format: 'pjpg' }} 535w,
                                                    {{ block.settings.right_image | img_url: '991x', crop: 'center', format: 'pjpg' }} 720w"
                                                    src="{{ block.settings.right_image | img_url: 'pico' }}"
                                                    sizes="auto" class="lazyload"
                                                    alt="{{ block.settings.right_image.alt | default: block.settings.right_heading_txt | escape }}"
                                                    width="{{ block.settings.right_image.width }}"
                                                    height="{{ block.settings.right_image.width | divided_by: block.settings.right_image.aspect_ratio }}"
                                                    loading="lazy" >
                                            {%- else -%}
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {%- endif -%}

                                            {% if block.settings.right_enable_overlay %}
                                                <div class="overlay" style="background-color: {{ block.settings.right_overlay_bg_color }}!important; opacity: {{block.settings.right_overlay_opacity}}!important;"></div>
                                            {% endif %}
                                        </div>
                                        {% if block.settings.right_heading != blank or block.settings.right_caption != blank %}
                                            <div class="slider-content position-absolute d-flex align-items-center justify-content-center h-100 w-100">
                                                <div class="container {{block.settings.right_alignment}}">
                                                    <div class="row">
                                                        <div class="col-lg-7 col-md-8 col-12 mx-auto">
                                                            <h2 class="display-3 px-4 px-md-0 right_heading_txt" style="color: {{block.settings.right_heading_txt_color}};">{{ block.settings.right_heading | escape }}</h2>
                                                            <p class="px-4 px-md-0 right_caption_txt" style="color: {{ block.settings.right_caption_txt_color }};">{{ block.settings.right_caption | escape }}</p>
                                                            {% if block.settings.right_btn_txt != blank %}
                                                            <a {% if block.settings.right_btn_link %} href="{{ block.settings.right_btn_link }}" {% endif %} class="btn btn{% if block.settings.right_btn_type == 'outline' %}-{% endif %}{{ block.settings.right_btn_type }}-{{ block.settings.right_btn_variant }} {{ block.settings.right_btn_size }} mt-3">{{ block.settings.right_btn_txt }}</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if section.settings.nav_arrows %}
                <div class="swiper-button-next hero-button-next icon-next"></div>
                <div class="swiper-button-prev hero-button-prev icon-previous"></div>
            {% endif %}
            {% if section.settings.nav_dots %}
                <div class="swiper-pagination"></div>
            {% endif %}
        </div>
    </slider-element>
</section>
{% endif %}


{% schema %}
    {
        "name": "Header Slider",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "enabled",
                "label": "Enabled?",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "is_hidden_on_mobile",
                "label": "Hidden on Mobile?",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "nav_arrows",
                "label": "Arrows Navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "nav_dots",
                "label": "Dots Navigation",
                "default": true
            },
            {
                "type": "select",
                "id": "height",
                "label": "Slider Height",
                "options": [
                    {
                        "value": "shortheight",
                        "label": "Short"
                    },
                    {
                        "value": "tallheight",
                        "label": "Tall"
                    },
                    {
                        "value": "fullheight",
                        "label": "Full Height"
                    }
                ],
                "default": "tallheight"
            }
        ],
        "presets": [
            {
                "name": "Index Header Slider",
                "category": "Content"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image Slide",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_large_desktop",
                        "label": "Larger Desktop Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Desktop Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Mobile Image"
                    },
                    {
                        "type": "color",
                        "id": "slide_bg_color",
                        "label": "Background Color for Mobile",
                        "default": "#ffffff"
                    },
                    {
                        "type": "header",
                        "content": "Overlay"
                    },
                    {
                        "type": "checkbox",
                        "id": "enable_overlay",
                        "label": "Enabled?",
                        "default": true
                    },
                    {
                        "type": "color",
                        "id": "overlay_bg_color",
                        "label": "Overlay Background Color",
                        "default": "#000000"
                    },
                    {
                        "type": "range",
                        "id": "overlay_opacity",
                        "label": "Overlay Opacity",
                        "min": 0.1,
                        "max": 1,
                        "step": 0.1,
                        "default": 0.5
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "select",
                        "id": "caption_alignment",
                        "label": "Caption Alignment",
                        "options": [
                            {
                                "value": "justify-content-center",
                                "label": "Center"
                            },
                            {
                                "value": "justify-content-start",
                                "label": "Left"
                            },
                            {
                                "value": "justify-content-end",
                                "label": "Right"
                            }
                        ],
                        "default": "justify-content-center"
                    },
                    {
                        "type": "select",
                        "id": "alignment",
                        "label": "Text Alignment",
                        "options": [
                            {
                                "value": "text-center",
                                "label": "Center"
                            },
                            {
                                "value": "text-start",
                                "label": "Left"
                            },
                            {
                                "value": "text-end",
                                "label": "Right"
                            }
                        ],
                        "default": "text-center"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "textarea",
                        "id": "caption",
                        "label": "Caption"
                    },
                    {
                        "type": "header",
                        "content": "Styling"
                    },
                    {
                        "type": "color",
                        "id": "heading_txt_color",
                        "label": "Heading Color"
                    },
                    {
                        "type": "color",
                        "id": "caption_txt_color",
                        "label": "Caption Color"
                    },
                    {
                        "type": "header",
                        "content": "Button"
                    },
                    {
                        "type": "text",
                        "id": "btn_txt",
                        "label": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "btn_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "select",
                        "id": "btn_type",
                        "label": "Button Type",
                        "options": [
                            {
                                "value": "outline",
                                "label": "Outline"
                            },
                            {
                                "value": "",
                                "label": "Solid"
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "select",
                        "id": "btn_variant",
                        "label": "Button Variant",
                        "options": [
                            {
                                "value": "primary",
                                "label": "Primary"
                            },
                            {
                                "value": "secondary",
                                "label": "Secondary"
                            },
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "dark",
                                "label": "Dark"
                            }
                        ],
                        "default": "dark"
                    },
                    {
                        "type": "select",
                        "id": "btn_size",
                        "label": "Button Size",
                        "options": [
                            {
                                "value": "",
                                "label": "Default"
                            },
                            {
                                "value": "btn-sm",
                                "label": "Small"
                            },
                            {
                                "value": "btn-lg",
                                "label": "Large"
                            }
                        ],
                        "default": ""
                    }
                ]
            },
            {
                "type": "multi-image",
                "name": "Multiple Images Slide",
                "settings": [
                    {
                        "type": "header",
                        "content": "Left Section"
                    },
                    {
                        "type": "header",
                        "content": "Overlay"
                    },
                    {
                        "type": "checkbox",
                        "id": "enable_overlay",
                        "label": "Enabled?",
                        "default": true
                    },
                    {
                        "type": "color",
                        "id": "overlay_bg_color",
                        "label": "Overlay Background Color",
                        "default": "#000000"
                    },
                    {
                        "type": "range",
                        "id": "overlay_opacity",
                        "label": "Overlay Opacity",
                        "min": 0.1,
                        "max": 1,
                        "step": 0.1,
                        "default": 0.5
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "select",
                        "id": "alignment",
                        "label": "Alignment",
                        "options": [
                            {
                                "value": "text-center",
                                "label": "Center"
                            },
                            {
                                "value": "text-start",
                                "label": "Left"
                            },
                            {
                                "value": "text-end",
                                "label": "Right"
                            }
                        ],
                        "default": "text-center"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "caption",
                        "label": "Caption"
                    },
                    {
                        "type": "header",
                        "content": "Styling"
                    },
                    {
                        "type": "range",
                        "id": "heading_font_size",
                        "min": 1,
                        "max": 6,
                        "step": 0.1,
                        "unit": "rem",
                        "label": "Font Size",
                        "default": 3
                    },
                    {
                        "type": "color",
                        "id": "heading_txt_color",
                        "label": "Heading Color"
                    },
                    {
                        "type": "color",
                        "id": "caption_txt_color",
                        "label": "Caption Color"
                    },
                    {
                        "type": "header",
                        "content": "Button"
                    },
                    {
                        "type": "text",
                        "id": "btn_txt",
                        "label": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "btn_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "select",
                        "id": "btn_type",
                        "label": "Button Type",
                        "options": [
                            {
                                "value": "outline",
                                "label": "Outline"
                            },
                            {
                                "value": "",
                                "label": "Solid"
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "select",
                        "id": "btn_variant",
                        "label": "Button Variant",
                        "options": [
                            {
                                "value": "primary",
                                "label": "Primary"
                            },
                            {
                                "value": "secondary",
                                "label": "Secondary"
                            },
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "dark",
                                "label": "Dark"
                            }
                        ],
                        "default": "dark"
                    },
                    {
                        "type": "select",
                        "id": "btn_size",
                        "label": "Button Size",
                        "options": [
                            {
                                "value": "",
                                "label": "Default"
                            },
                            {
                                "value": "btn-sm",
                                "label": "Small"
                            },
                            {
                                "value": "btn-lg",
                                "label": "Large"
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "header",
                        "content": "Right Section"
                    },
                    {
                        "type": "header",
                        "content": "Overlay"
                    },
                    {
                        "type": "checkbox",
                        "id": "right_enable_overlay",
                        "label": "Enabled?",
                        "default": true
                    },
                    {
                        "type": "color",
                        "id": "right_overlay_bg_color",
                        "label": "Overlay Background Color",
                        "default": "#000000"
                    },
                    {
                        "type": "range",
                        "id": "right_overlay_opacity",
                        "label": "Overlay Opacity",
                        "min": 0.1,
                        "max": 1,
                        "step": 0.1,
                        "default": 0.5
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "image_picker",
                        "id": "right_image",
                        "label": "Image"
                    },
                    {
                        "type": "select",
                        "id": "right_alignment",
                        "label": "Alignment",
                        "options": [
                            {
                                "value": "text-center",
                                "label": "Center"
                            },
                            {
                                "value": "text-start",
                                "label": "Left"
                            },
                            {
                                "value": "text-end",
                                "label": "Right"
                            }
                        ],
                        "default": "text-center"
                    },
                    {
                        "type": "text",
                        "id": "right_heading",
                        "label": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "right_caption",
                        "label": "Caption"
                    },
                    {
                        "type": "header",
                        "content": "Styling"
                    },
                    {
                        "type": "color",
                        "id": "right_heading_txt_color",
                        "label": "Heading Color"
                    },
                    {
                        "type": "color",
                        "id": "right_caption_txt_color",
                        "label": "Caption Color"
                    },
                    {
                        "type": "header",
                        "content": "Button"
                    },
                    {
                        "type": "text",
                        "id": "right_btn_txt",
                        "label": "Button Text"
                    },
                    {
                        "type": "url",
                        "id": "right_btn_link",
                        "label": "Button Link"
                    },
                    {
                        "type": "select",
                        "id": "right_btn_type",
                        "label": "Button Type",
                        "options": [
                            {
                                "value": "outline",
                                "label": "Outline"
                            },
                            {
                                "value": "",
                                "label": "Solid"
                            }
                        ],
                        "default": ""
                    },
                    {
                        "type": "select",
                        "id": "right_btn_variant",
                        "label": "Button Variant",
                        "options": [
                            {
                                "value": "primary",
                                "label": "Primary"
                            },
                            {
                                "value": "secondary",
                                "label": "Secondary"
                            },
                            {
                                "value": "white",
                                "label": "White"
                            },
                            {
                                "value": "dark",
                                "label": "Dark"
                            }
                        ],
                        "default": "dark"
                    },
                    {
                        "type": "select",
                        "id": "right_btn_size",
                        "label": "Button Size",
                        "options": [
                            {
                                "value": "",
                                "label": "Default"
                            },
                            {
                                "value": "btn-sm",
                                "label": "Small"
                            },
                            {
                                "value": "btn-lg",
                                "label": "Large"
                            }
                        ],
                        "default": ""
                    }
                ]
            }
        ]
    }
{% endschema %}

